@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutUs>
@using Umbraco.Web
@using Umbraco.Core.PropertyEditors.ValueConverters
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    @*var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;*@

    IPublishedContent heroBannerLink = Model.Value<IPublishedContent>("HeroBannerButtonLink");

    ImageCropperValue heroBannerImage = Model.Value<ImageCropperValue>
    ("HeroBannerImage", fallback: Fallback.ToAncestors);

    var startNode = Umbraco.Content(Model.Id);
    var people = startNode.Children.OrderBy(x => x.CreateDate).ToList();

    int personIndex = 0;
}

<div class="about">

    <header>
        @if (Model.HeroBannerDisplayPageTitle != null)
        {
            <h1>@Model.Name</h1>
        }
        @if (heroBannerImage != null)
        {
            <picture>
                <source media="(min-width: 576px)" srcset="@(heroBannerImage.Src + heroBannerImage.GetCropUrl(" Desktop"))">
                <source media="(min-width: 0px)" srcset="@(heroBannerImage.Src + heroBannerImage.GetCropUrl(" Mobile"))">
                <img src="@(heroBannerImage.Src + heroBannerImage.GetCropUrl(" Desktop"))">
            </picture>

            @*<img src="@Model.HeroBannerImageCrop.Url" />*@
        }
        @if (Model.HeroBannerHeaderText != null && !String.IsNullOrEmpty(Model.HeroBannerHeaderText))
        {
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8">
                        <p>
                            @Html.ReplaceLineBreaksForHtml(Model.HeroBannerHeaderText)
                        </p>
                        @if (heroBannerLink != null && Model.HeroBannerButtonText != null && !String.IsNullOrEmpty(Model.HeroBannerButtonText))
                        {
                            <p>
                                <a class="btn" href="@heroBannerLink.Url">
                                    @Model.HeroBannerButtonText
                                    &nbsp;<i class="fa fa-chevron-right"></i>
                                </a>
                            </p>
                        }
                    </div>
                </div>
            </div>
        }
    </header>
    <section>


        @foreach (ContentModels.Person person in people)
        {
            ImageCropperValue personImage = person.Value<ImageCropperValue>
                ("PersonImage", fallback: Fallback.ToAncestors);

            <div class="row ml-0 mr-0 about-details">
                @if (personIndex % 2 == 0)
                {
                    <div class="col-md-6 col-sm-12 p-0">
                        <div class="container container-img">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <picture>
                                        <source media="(min-width: 576px)" srcset="@(personImage.Src + personImage.GetCropUrl(" Desktop"))">
                                        <source media="(min-width: 0px)" srcset="@(personImage.Src + personImage.GetCropUrl(" Mobile"))">
                                        <img src="@(personImage.Src + personImage.GetCropUrl(" Desktop"))">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 p-0 section-alt section-details section-details-right">
                        <div class="container content-padding-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="mb-4">@person.Name</h2>
                                    <div class="person-content-container">
                                        <p>@Html.ReplaceLineBreaksForHtml(person.PersonExcerpt)</p>
                                        <p class="person-content-description mt-4" style="display:none">@Html.ReplaceLineBreaksForHtml(person.PersonDescription)</p>
                                        <a class="btn btn-more">
                                            <i class="fa fa-chevron-left"></i>
                                            &nbsp;
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn-close"></a>
                    </div>

                }
                else
                {
                    <div class="col-md-6 col-sm-12 p-0 section-alt section-details section-details-left d-none d-md-block">
                        <div class="container content-padding-left">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="mb-4">@person.Name</h2>
                                    <div class="person-content-container">
                                        <p>@Html.ReplaceLineBreaksForHtml(person.PersonExcerpt)</p>
                                        <p class="person-content-description mt-4" style="display:none">@Html.ReplaceLineBreaksForHtml(person.PersonDescription)</p>
                                        <a class="btn btn-more">
                                            Read More
                                            &nbsp;
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn-close"></a>
                    </div>
                    <div class="col-md-6 col-sm-12 p-xs-0 col-container-img-left">
                        <div class="container container-img p-0">
                            <div class="row ml-0 mr-0">
                                <div class="col-md-12 p-0">
                                    <picture>
                                        <source media="(min-width: 576px)" srcset="@(personImage.Src + personImage.GetCropUrl(" Desktop"))">
                                        <source media="(min-width: 0px)" srcset="@(personImage.Src + personImage.GetCropUrl(" Mobile"))">
                                        <img src="@(personImage.Src + personImage.GetCropUrl(" Desktop"))">
                                    </picture>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-md-none col-sm-12 p-0 section-alt">
                        <div class="container content-padding-left">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="mb-4">@person.Name</h2>
                                    <div class="person-content-container">
                                        <p>@Html.ReplaceLineBreaksForHtml(person.PersonExcerpt)</p>
                                        @*<a class="btn btn-more">
                                                Read More
                                                &nbsp;
                                                <i class="fa fa-chevron-right"></i>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn-close"></a>
                    </div>


                }
            </div>
            if (personIndex == 1)
            {
                <div class="row m-0">
                    <div class="col-md-12 section-quote">
                        <p>"@Model.AboutQuoteText"</p>
                        <span class="quote-author">@Model.AboutQuoteAuthor</span>
                    </div>
                </div>
            }

            personIndex++;
        }



    </section>


</div>


@section scripts {

    <script>
        $('a.btn-more').click(function () {
            $(this).closest('.section-details')
                .addClass('col-md-12')
                //.addClass('col-two')
                .addClass('expanded');

            $(this).closest('.person-content-container')
                .addClass('col-two');

            $(this).closest('.content-padding-right')
                .removeClass('content-padding-right');

            $(this).closest('.content-padding-left')
                .removeClass('content-padding-left');

            $(this).closest('.person-content-container').find('.person-content-description')
                .show();
        })

        $('a.btn-close').click(function () {
            $(this).closest('.section-details')
                .removeClass('col-md-12')
                //.removeClass('col-two')
                .removeClass('expanded');

            $(this).closest('.section-details').find('.person-content-container')
                .removeClass('col-two');

            $(this).closest('.section-details-right').find('.container')
                .addClass('content-padding-right')

            $(this).closest('.section-details-left').find('.container')
                .addClass('content-padding-left')

            $(this).closest('.section-details').find('.person-content-description')
                .hide();
        })
    </script>
}
